Flask==3.0.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-Cors==4.0.2
SQLAlchemy==2.0.23
marshmallow==3.20.1
python-dotenv==1.0.0
pytest==7.4.3
gunicorn==23.0.0
psycopg2-binary==2.9.9
Werkzeug==3.0.6
requests==2.32.2
