@namespace CalculatorWeb.Components
@using CalculatorWeb.Services

<button class="btn-theme-toggle" @onclick="OnToggle" title="Toggle light/dark theme">
    @ThemeToggleIcon
</button>

@code {
    [Parameter]
    public string ThemeToggleIcon { get; set; } = "🌙";

    [Parameter]
    public EventCallback OnToggle { get; set; }
}
